{% extends 'enroll/base.html' %}
{% block content %}

<h3>Pay Event Fee</h3>

<div class="card p-4">
    <p><b>Event:</b> {{ record.event.title }}</p>
    <p><b>Amount:</b> ₹{{ record.amount }}</p>

    {% if record.status == "Paid" %}
        <span class="badge bg-success">Completed</span>
    {% else %}
        <form method="post">
            {% csrf_token %}

            <!-- Payment Options -->
            <label for="payment_method" class="form-label">Choose Payment Method</label>
            <div class="mb-3">
                <select id="payment_method" name="payment_method" class="form-select" required>
                    <option value="">--Select Payment Method--</option>
                    <option value="phonepe">PhonePe</option>
                    <option value="paytm">Paytm</option>
                    <option value="razorpay">Razorpay</option>
                    <option value="gpay">GPay</option>
                </select>
            </div>

            <button class="btn btn-success">
                Pay ₹{{ record.amount }}
            </button>
        </form>
    {% endif %}
</div>

{% endblock %}
